.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-center-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #663399;
}

.poster {
  align-self: center;
  height: 300px;
}

.position-absolute-top {
  position: absolute;
  top: 0px;
}
