.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-center-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #663399;
}

.full-poster {
  object-fit: cover;

  height: 300px;
  width: 100%;
}
