/* import {BACKGROUND} from 'colors' */

.movie-item-container {
  /* background-color: #b779ed; */
  /*  background-color: red; */
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  width: 190px;
}

.image-badge-container {
  position: relative;
}

.poster-image {
  border-radius: 12px;
  object-fit: contain;
  width: 150px;
}

.badge {
  background-color: #663399;
  border-style: solid;
  border-color: #b779ed;
  border-width: 3px;
  border-radius: 25px;

  display: flex;
  flex: 1;
  align-items: center;

  position: absolute;
  right: -15px;
  bottom: -15px;

  height: 40px;
  width: 40px;
}

.rate {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  color: black;
  text-align: left;
  vertical-align: middle;
}

.date {
  color: beige;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  padding-top: 5px;
}
